
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Document title -->
<title>POLO | The Multi-Purpose HTML5 Template</title>
<!-- Stylesheets & Fonts -->
<link href="css/plugins.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
</head>

<body>
    

        <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-height-xs="">
            <!-- Slide 1 -->
            <div class="slide kenburns"style="">
                <div class="bg-overlay" style="background: linear-gradient(45deg, rgb(79, 0, 246) 0%, rgb(176, 0, 247) 100%) !important; opacity: 100%;!important"></div>
                <div class="container">
                    <div class="slide-captions text-light">
                        <!-- Captions -->
                        <span data-animate="fadeInUp"  class="strong"><a href="#" class="business"><span class="business">FROM TEAM ROBOHOME</span></a>
                        </span>
                        <h1 data-animate="fadeInUp"  style="font-size: 26px;">Congratulations!</h1>
                        <p>You have done a great job! <br>
                        Download your certificate and use it in trial session to get scholarship benefits.</p>
                           

                        
                            <a href="" class="btn btn-light btn-rounded" download="{{path}}">Download Certificate</a>
                    <a href="/" class="btn btn-light btn-rounded">GO TO HOME</a>

                                                    
                        </div>
                        <!-- end: Captions -->
                   
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
        </div>
      
   
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>