<!DOCTYPE html>
<html lang="en">



<body>
    <!-- Body Inner -->
    <div class="body-inner">
      
        <section id="page-content">
            <div class="container">
                <div class="row">
                    <div class="content col-lg-12 mt-5">
                        <div class="demo-play-animations">

                            <div class="col-lg-12" data-animate="bounceInDown">
                                <div class="mt-3" style="text-align-last: center;">
                                    <h1 style="font-size: 4rem; text-align: -webkit-center;">Thank You!</h1>
                                </div>
                              
                            </div>
                            <div style="    text-align: center;">
                                <br>
                            <a href="{{path}}" class="btn btn-dark" download="{{path}}">Download your certificate</a>
                            <br>
                            <a href="/" class="btn">Go to home</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="js/jquery.js"></script>
        <script src="js/plugins.js"></script>
        <!--Template functions-->
        <script src="js/functions.js"></script>
</body>

</html>