<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="images/ore/logo2.png">
    <title>Robohome | ore equipe robotic research center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <meta name="description" content="Professional trainers of ROBOHOME teach technology with one on one interactive method. Our practical oriented classes that we take for students from all age groups."/>
   
    <meta name="keywords"
        content="Robotics in kerala, best robotics companies in Kerala, automation and robotics in kerala, robotics company, robotics training institute in kerala, robotics technology, machine learning ,robotics courses,automation courses, robotics companies in kerala">
    <meta name="author" content="ore equipe">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"><!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <!-- LOADING FONTS AND ICONS -->
    <link href="//fonts.googleapis.com/css?family=Roboto%3A700%2C400" rel="stylesheet" property="stylesheet"
        type="text/css" media="all" />

</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" class="dark submenu-light" data-fullwidth="true" data-transparent="true">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/">
                            <img src="images/ore/logo2.png" class="logo-default" style="
                            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                            <img src="images/ore/logo2.png" class="logo-dark" style="
                            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!-- Search -->
                   
                    <!-- end: search -->

                    <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>

                               <a href="assessment_test" target="_blank"> <button type="button"
                                    class="btn btn-xs btn-icon-holder btn-light btn-rounded">Assessment test &nbsp;
                                    &nbsp; &nbsp; <i class="fas fa-pen"></i></button></a>

                                <a href="book_a_free_session"><button type="button" class="btn btn-xs btn-icon-holder btn-light btn-rounded">Book A
                                    Free Session!<i class="fas fa-robot"></i></button></a>

                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- Revolution Slider -->
        <section id="slider">

            <div class="">





                <!-- desktop -->
                <img class=" d-none d-xl-block" src="images/ore/banner/desktop psd 1.png"
                    style="width: 100%;height: 100%;opacity: 1;visibility: inherit;z-index: 20;" data-bgcolor="#f9f9f9"
                    alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                    data-bgparallax="off" class="rev-slidebg" data-no-retina>

                <!-- mobile -->
                <img class=" d-block d-md-none" src="images/ore/banner/mobile psd 1.png"
                    style="width: 100%;height: 100%;opacity: 1;visibility: inherit;z-index: 20;" data-bgcolor="#f9f9f9"
                    alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                    data-bgparallax="off" class="rev-slidebg" data-no-retina>

                <!-- Tab -->
                <img class=" d-none d-md-block d-lg-none	" src="images/ore/banner/tab psd 1.png"
                    style="width: 100%;height: 100%;opacity: 1;visibility: inherit;z-index: 20;" data-bgcolor="#f9f9f9"
                    alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                    data-bgparallax="off" class="rev-slidebg" data-no-retina>

                <!-- small lap -->
                <img class="smalllap" src="images/ore/banner/lap psd 1.png"
                    style="width: 100%;height: 100%;opacity: 1;visibility: inherit;z-index: 20; display:none; "
                    data-bgcolor="#f9f9f9" alt="" data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>

            </div>
        </section>

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-5 m-b-60">
                    <h2 style="font-weight: 700; color: #350156;">ROBOHOME ?</h2>
                    <p class="lead">In India, Robotics and Artificial Intelligence will generate 5 million workers by
                        2030.
                        We, Ore Equipe LLP, came up with a fresh solution for your latest issue to put the young mind
                        to the bright side. The very professional trainers of <SPAn
                            style="font-weight: 700;">'ROBOHOME'</SPAn> are actually working with 100+ students in
                        India, UAE & Australia.
                        <br><br>
                        This very joyous tale reveals how pleased and fulfilled our students are with our lessons. The
                        specialists develop the syllabus for the students after a free session. We&#39;re making a
                        customized
                        syllabus for everybody, because we know every student is different.
                    </p> <br>


                </div>
                <div class="col-lg-6 offset-1 m-t-40">
                    <div class="row">
                        <!-- features box -->

                        <!-- end: features box -->
                        <!-- features box -->
                        <div class="col-lg-6">
                            <h4>Interactive learning</h4>
                            <p>We are happy to say that our trainers are intelligent and smart enough to adapt every
                                child's individuality based on the free demo sessions and the question they ask.
                                The sessions are interactive using personalized syllabus and animated videos in an
                                organised way.</p>
                        </div>
                        <!-- end: features box -->
                        <!-- features box -->
                        <div class="col-lg-6">
                            <h4>Get a Personalized Syllabus</h4>
                            <p>

                                Every student is important to us. We will create a personalised curriculum 
                                for each child based on their grasping abilities.
                                With a personalised syllabus, students can easily learn the concept.
                                It will also improve skills such as critical thinking and logical reasoning.
            
                                <!-- We know every student is unique. Our trainers
                                     will prepare a different syllabus for each student
                                     based on their grasping ability. With a personalised 
                                    syllabus, students can easily learn the concept. -->

                        </p>
                        </div>
                        <!-- end: features box -->
                        <!-- features box -->
                        <div class="col-lg-6">
                            <h4>Build your basics strong</h4>
                            <p>With our structured way of learning the Herculean topics of
                                Robotics and coding, your child can develop 30+ Robotics projects starting like the Line
                                Follower
                                Robot and many Games that you child loves to play plus many such applications.</p>
                        </div>

                        <div class="col-lg-6">
                            <h4>Always at your service</h4>
                            <p>A subject expert from the support team is always available for you through
                                text/ call/e-mail. You can ask any question any number of times regarding the programs
                                offered.</p>
                        </div>




                        <!-- end: features box -->
                    </div>
                </div>



                <!-- end features box -->
            </div>
        </div>


        <div style="background-color: #350156;" class="call-to-action p-t-100  mb-0 call-to-action-dark">
            <div class="container pr-0">
                <div class="row">
                    <div class="col-lg-8 mb-4">
                        <h3>
                            Learn Robotics from where you are; <br> Robohome is in India UAE and Australia.
                        </h3>
                        <p>
                            We are happy to extend ROBOHOME to a global level through quality robotics education and best
                            interactive sessions with the trainers.
                        </p>
                        <div class=""><a class="btn btn-light btn-outline mx-1 ml-0 mt-0" href="book_a_free_session">Book A Free Session</a>
                            <a class="btn btn-light btn-outline ml-0 mt-0 mr-0 " href="tel:+918592050403+">Call Us</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img src="images/ore/robot2.png" style="height: auto; width: 100%;">
                    </div>
    
                </div>
            </div>
        </div>



        <div class="mx-auto container my-5" style="    text-align: -webkit-center;
        ">
            <a href="book_a_free_session" style="    border-color: #ff616100;
 color: #fff; background: #350156;" class=" col-lg-4 mx-auto btn btn-dark btn-outline btn-rounded">book a free
                session</a>
            <a href="download_brochure" target="_blank" style="    border-color: #ff616100;
 color: #fff; background: #350156;" class="col-lg-4 mx-auto btn btn-dark btn-outline btn-rounded">Download brochure</a>

            <a href="assessment_test" target="_blank" style="    border-color: #ff616100;
color: #fff; background: #350156;" class="col-lg-8 mx-auto btn btn-dark btn-outline btn-rounded">Assessment test</a>


        </div>
        </section>




        <section class="pb-0">
            <div class="container shadow-lg p-3 mb-5 bg-white rounded mt-3 mx-auto">
                <div style="font-weight: bolder; align-items: stretch;"
                    class="heading-section  text-center mb-5 font-weight-bold">

                    <div class="col-lg-4 mx-auto">

                        <div style="background-color: #56217700 !important; border-color: #3e0462 !important; border-radius: 3rem; padding: 0; font-size: 1rem;"
                            class="py-1 alert alert-success">
                            <h2 style="font-weight: 700; color: #4c166d;">Why Robohome ?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="fas fa-toolbox"></i>
                            </div>
                            <h3>Free robotics kit</h3>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="fas fa-graduation-cap"></i>
                            </div>
                            <h3>Personalized syllabus</h3>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="far fa-hand-paper"></i>
                            </div>
                            <h3>Hands on practicals</h3>
                        </div>
                    </div>



                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="far fa-clock"></i></a>
                            </div>
                            <h3>Flexible timing</h3>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="fas fa-shipping-fast"></i></i></a>
                            </div>
                            <h3>Free shipping all over India</h3>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="far fa-thumbs-up"></i></a>
                            </div>
                            <h3>Refund policy</h3>
                        </div>
                    </div>

                </div>
            </div>
        </section>





        <section class="pb-0">
            <div class="container shadow-lg p-3 mb-5 bg-white rounded mt-5 mx-auto">
                <div style="font-weight: bolder; align-items: stretch;"
                    class="heading-section  text-center mb-5 font-weight-bold">

                    <div class="col-lg-4 mx-auto">

                        <div style="background-color: #ffffff00 !important; border-color: #3e0462 !important; border-radius: 3rem; padding: 0; font-size: 1rem;"
                            class="py-1 alert alert-success">
                            <h2 style="font-weight: 700; color: #4c166d;">Skills Gained</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="fas fa-brain"></i></a>
                            </div>

                            <h3>Logical thinking</h3>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="fas fa-wrench"></i></a>
                            </div>
                            <h3>Problem solving</h3>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="far fa-lightbulb"></i></a>
                            </div>
                            <h3>Creativity</h3>
                        </div>
                    </div>



                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i style="color: #350156;" class="fa fa-desktop"></i></a>
                            </div>
                            <h3>Technical skills</h3>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="fas fa-microchip"></i></a>
                            </div>
                            <h3>Circuit designing</h3>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="mx-auto icon-box effect medium border center">
                            <div class="icon">
                                <i class="fas fa-robot"></i></a>
                            </div>
                            <h3>Robot designing</h3>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="pb-0">
            <div class="container shadow-lg p-3 mb-5 bg-white rounded mt-5 mx-auto">
                <div style="font-weight: bolder; align-items: stretch;"
                    class="heading-section  text-center mb-5 font-weight-bold">
                    <div class="col-lg-5 mx-auto">

                        <div style="background-color: #ffffff00 !important; border-color: #3e0462 !important; border-radius: 3rem; padding: 0; font-size: 1rem;"
                            class="py-1 alert alert-success">
                            <h2 style="font-weight: 700; color: #4c166d;">What parents says?</h2>
                        </div>
                    </div>
                    <section>
                        <div class="container">
                        
                        <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1" data-autoplay="true" data-loop="true" data-autoplay="8500">
                        
                        <div class="testimonial-item">
                        <img src="images/ore/testimonials/drlakshmi.jpeg" alt="">
                        <p>" We thought he would be distracted while entering to the next level of making his own project but his enthusiasm excited us, he finds time to practice programming and coding along with his academic studies. "</p>
                        <span>Dr. Lakshmi</span>
                        <span>Anasthesiologist</span>
                        </div>
                        
                        
                        <div class="testimonial-item">
                        <img src="images/ore/testimonials/praveenatr.jpeg" alt="">
                        <p>" I made him Join Robohome so that he will be engaged with something during this pandemic.  Now I can see his confidence level boosting up after enrolling to the 2nd level. His progress in learning both software and hardware made his academics easy as well. "</p>
                        <span>Praveena</span>
                        <span>School Teacher</span>
                        </div>

                        <div class="testimonial-item">
                            <img src="images/ore/testimonials/parent3.png" alt="">
                            <p>" Classes with Robohome have been so worthwhile! Trainers in this center has an amazing way of breaking things down so that they are understandable, and always keeping it light and fun. "</p>
                            <span>Anil</span>
                            <span>Teacher</span>
                            </div>


                            <div class="testimonial-item">
                                <img src="images/ore/testimonials/parent4.png" alt="">
                                <p>" Vision, enthusiasm, guidance are the words I would use to describe robohome. My son absolutely enjoys the classes,and always look forward for the next level.The instructors are welcoming, knowledgable.I highly recommend this platform for kids to develop their problem solving skills & learn programming in a fun way. "</p>
                                <span>Anandasivaraman</span>
                                <span>Business</span>
                                </div>
                        
                        
            
                    
                        </div>
                        </div>
                        </section>


                </div>
                            </div>
        </section>


        <section class="pb-0">
            <div class="container shadow-lg p-3 mb-5 bg-white rounded mt-5 mx-auto">
                <div style="font-weight: bolder; align-items: stretch;"
                    class="heading-section  text-center mb-5 font-weight-bold">

                    <div class="col-lg-6 mx-auto">

                        <div style="background-color: #ffffff00 !important; border-color: #3e0462 !important; border-radius: 3rem; padding: 0; font-size: 1rem;"
                            class="py-1 alert alert-success">
                            <h2 style="font-weight: 700; color: #4c166d;">Projects by our students</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">

                        <div class="col-lg-6 pt-1 px-1">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/ebWZkmt_rl0?controls=0&amp;start=21" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                        <div class="col-lg-6 pt-1 px-1">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/IIes_LQ9EjA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        </div>

                        <div class="col-lg-6 pt-1 px-1">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/3MMYhqilZhk?controls=0&amp;start=17" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="col-lg-6 pt-1 px-1">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/1skt5R7n-UM?controls=0&amp;start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>


            </div>
        </section>



        <section class="">
            <div class="container shadow-lg pt-5 bg-white rounded" style="    border-top: outset; ">
                <div style="font-weight: bolder; align-items: stretch;"
                    class="heading-section  text-center mb-5 font-weight-bold">
                    <div class="col-lg-4 mx-auto">

                        <div style=" z-index: 0; background-color: #ffffff00 !important; border-color: #3e0462 !important; border-radius: 3rem; padding: 0; font-size: 1rem;"
                            class="py-1 alert alert-success">
                            <h2 style="font-weight: 700; color: #4c166d;">Courses Offered</h2>
                        </div>
                    </div>

                </div>

                <section id="section3" class="p-b-120">

                    <div class="row pricing-table">


                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="mx-auto">
                                <div style="background-color: #4c166d !important; border-color: #3e0462 !important; border-radius: 1rem;     text-align: -webkit-center;"
                                    class=" shadow box mx-auto alert alert-success">
                                    <h2 style="font-weight: 400; font-size: 1.6rem;">BEGINNER </h2>
                                </div>


                            </div>
                            <div class="" style="    text-align: -webkit-center">
                                <span class="badge badge-light mb-4 " style="font-size: 1rem; color: #350156;">Duration
                                    : 40 hrs classes &mdash; 1 hr each</span>
                            </div>
                            <div class="plan">
                                <div class="plan-header">

                                    <div class="card ">

                                        <div
                                            class="portfolio-item shadow img-zoom ct-photography ct-media ct-branding ct-Media">
                                            <div class="portfolio-item-wrap">
                                                <div class="portfolio-image">
                                                    <a href="#"><img src="images/ore/c image 1.png" alt=""></a>
                                                </div>
                                                <div class="portfolio-description">
                                                    <a href="portfolio-page-grid-gallery.html">
                                                        <h3>INTRODUCTION TO
                                                            CODING + MATHS</h3>
                                                        <!-- <span>Know more</span> -->
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title">INTRODUCTION TO
                                                CODING + MATHS</h5>
                                            <p class="card-text">This collection of Math+Scratch resources highlights
                                                many ways that students build
                                                mathematical understanding by building their own projects in Scratch.
                                            </p>
                                            <br>
                                            <ul style="text-align: -webkit-left;">
                                                <li>Story Telling and Animation </li>
                                                <li>Students will learn basic programming constructs while designing a
                                                    storyboard. </li>
                                                <li> Basic Game Development</li>
                                                <li><a style="color: #4c166d; font-weight: 600;"
                                                        href="download_brochure"
                                                        target="_blank">Download</a> our brochure for complete details
                                                </li>
                                                <br>
                                                <br>
                                            </ul>




                                            <a href="know_more" class="btn btn-light">Know more</a>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-8 col-md-4 col-12">
                            <div style="background-color: #4c166d !important; border-color: #3e0462 !important; border-radius: 1rem;     text-align: -webkit-center;"
                                class=" shadow box mx-auto alert alert-success">
                                <h2 style="font-weight: 400; font-size: 1.6rem;">INTERMEDIATE</h2>
                            </div>

                            <div class="" style="    text-align: -webkit-center">
                                <span class="badge badge-light mb-4 " style="font-size: 1rem; color: #350156;">Duration
                                    : 50 hrs classes &mdash; 1 hr each</span>
                            </div>

                            <div class="row">

                                <div class="col-lg-6">

                                    <div class="plan">
                                        <div class="plan-header">
                                            <div class="card ">

                                                <div
                                                    class="portfolio-item shadow img-zoom ct-photography ct-media ct-branding ct-Media">
                                                    <div class="portfolio-item-wrap">
                                                        <div class="portfolio-image">
                                                            <a href="#"><img src="images/ore/courses/ROBOT.png"
                                                                    alt=""></a>
                                                        </div>
                                                        <div class="portfolio-description">
                                                            <a href="portfolio-page-grid-gallery.html">
                                                                <h3>ROBOT RISERS CAMP</h3>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body">
                                                    <h5 class="card-title">ROBOT RISERS CAMP
                                                    </h5>
                                                    <p class="card-text">
                                                        Learn automation & product prototyping.</p>
                                                    <br>
                                                    <ul style="text-align: -webkit-left;">


                                                        <li> Make Own Robotics Project</li>
                                                        <li>Understanding text base programming to program electronics
                                                            circuit </li>

                                                        <li> Understand concept of infra rays for detection of moving
                                                            bodies</li>
                                                        <li> Learn calibration of intensity as input from manual control
                                                        </li>
                                                        <li> Conditional and logical programming</li>
                                                        <li>Learn calibration of intensity as input from manual control
                                                        </li>
                                                        <li><a style="color: #4c166d; font-weight: 600;"
                                                                href="download_brochure"
                                                                target="_blank">Download</a> our brochure for complete
                                                            details </li>

                                                    </ul>

                                                    <a href="know_more" class="btn btn-light">Know more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="plan">
                                        <div class="plan-header">
                                            <div class="card ">

                                                <div
                                                    class="portfolio-item shadow img-zoom ct-photography ct-media ct-branding ct-Media">
                                                    <div class="portfolio-item-wrap">
                                                        <div class="portfolio-image">
                                                            <a href="#"><img src="images/ore/courses/electronics.png"
                                                                    alt=""></a>
                                                        </div>
                                                        <div class="portfolio-description">
                                                            <a href="portfolio-page-grid-gallery.html">
                                                                <h3>ELECTRONICS</h3>

                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body">
                                                    <h5 class="card-title">ELECTRONICS</h5>
                                                    <p class="card-text">Learn basic circuit design withh electronic
                                                        components.</p>
                                                    <br>
                                                    <ul style="text-align: -webkit-left;">


                                                        <li> Use Ohm's Law to calculate voltage, current and resistance
                                                        </li>
                                                        <li> Types of connection and related flow of current
                                                        </li>
                                                        <li>Study of electronic tools like multimeter
                                                            & power supply </li>


                                                        <li>Functional use of numeric display and control circuit
                                                        </li>
                                                        <li>Study of wave pattern with differential time generation
                                                        </li>
                                                        <li><a style="color: #4c166d; font-weight: 600;"
                                                                href="download_brochure"
                                                                target="_blank">Download</a> our brochure for complete
                                                            details </li>

                                                    </ul>

                                                    <a href="know_more" class="btn btn-light">Know more</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-4 col-12">
                            <div style="background-color: #4c166d !important; border-color: #3e0462 !important; border-radius: 1rem;     text-align: -webkit-center;"
                                class=" shadow box mx-auto alert alert-success">
                                <h2 style="font-weight: 400; font-size: 1.6rem;">ADVANCED LEVEL</h2>
                            </div>

                            <div class="mx-auto mt-4">
                                <h5 style="font-size: 1.3rem; font-weight: 700;     text-align-last: center;
                                        " class="card-title mx-auto">1. HOME CAMP CODING </h5>
                            </div>
                            <div class="" style="    text-align: -webkit-center">
                                <span class="badge badge-light mb-4 " style="font-size: 1rem; color: #350156;">Duration
                                    : 60 hrs classes &mdash; 1 hr each</span>
                            </div>

                            <div class="row">

                                <div class="col-lg-4">

                                    <div class="plan">
                                        <div class="plan-header">
                                            <div class="card ">



                                                <div class="card-body">
                                                    <h5 class="card-title">BASIC GAME DEVELOPMENT
                                                    </h5>
                                                    <p class="card-text">
                                                        Students will be introduced to commands and sequencing while
                                                        making fun games</p>
                                                    <ul style="text-align: -webkit-left;">


                                                        <li> Binary String</li>
                                                        <li>Basic Maths </li>

                                                        <li> Conditionals</li>
                                                        <li> Nested Loops</li>


                                                        <li><a style="color: #4c166d; font-weight: 600;"
                                                                href="download_brochure"
                                                                target="_blank">Download</a> our brochure for complete
                                                            details </li>
                                                    </ul>

                                                    <a href="know_more" class="btn btn-light">Know more</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="plan">
                                        <div class="plan-header">
                                            <div class="card ">



                                                <div class="card-body">
                                                    <h5 class="card-title">MOBILE APP DEVELOPMENT</h5>
                                                    <p class="card-text">Students will learn how to create basic clicker
                                                        catcher apps and multi
                                                        screen apps.</p>

                                                    <ul style="text-align: -webkit-left;">


                                                        <li> Variables
                                                        </li>
                                                        <li>Logic Gates
                                                        </li>
                                                        <li> UI: Buttons </li>



                                                        <li><a style="color: #4c166d; font-weight: 600;"
                                                                href="download_brochure"
                                                                target="_blank">Download</a> our brochure for complete
                                                            details </li>
                                                        <br>
                                                    </ul>

                                                    <a href="know_more" class="btn btn-light">Know more</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="plan">
                                        <div class="plan-header">
                                            <div class="card ">



                                                <div class="card-body">
                                                    <h5 class="card-title"> INTERACTIVE GAMING APPS
                                                    </h5>
                                                    <p class="card-text">Students learn how to build apps having UI and
                                                        User interaction.
                                                    </p>
                                                    <br>
                                                    <ul style="text-align: -webkit-left;">



                                                        <li> Mouse Events
                                                        </li>
                                                        <li> Event Trigger
                                                        </li>
                                                        <li>UI: Radio</li>


                                                        <li>Buttons Keypress Events </li>

                                                        <li><a style="color: #4c166d; font-weight: 600;"
                                                                href="download_brochure"
                                                                target="_blank">Download</a> our brochure for complete
                                                            details </li>
                                                    </ul>

                                                    <a href="know_more" class="btn btn-light">Know more</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="plan mb-0">
                                        <div class="plan-header">
                                            <div class="card mb-0">

                                                <div class="card-body">
                                                    <h5 class="card-title">ARCADE GAMES</h5>
                                                    <p class="card-text">Students learn how to create complex motion and
                                                        shooting games.</p>
                                                    <br>
                                                    <ul style="text-align: -webkit-left;">


                                                        <li> STEM: Velocity
                                                        </li>
                                                        <li> Edge Detection
                                                        </li>
                                                        <li>Sprite Animation </li>


                                                        <li>Sprite interaction
                                                        </li>

                                                        <li><a style="color: #4c166d; font-weight: 600;"
                                                                href="download_brochure"
                                                                target="_blank">Download</a> our brochure for complete
                                                            details </li>

                                                    </ul>

                                                    <a href="know_more" class="btn btn-light">Know more</a>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="plan mb-0 ">
                                        <div class="plan-header">
                                            <div class="card mb-0">


                                                <div class="card-body">
                                                    <h5 class="card-title">CHAT BOT APPS</h5>
                                                    <p class="card-text"> Students will learn to build knowledge chatbot
                                                        which can answer all your questions.</p>




                                                    <br>
                                                    <ul style="text-align: -webkit-left;">




                                                        <li> AI</li>
                                                        <li>Dialog Flow

                                                        </li>
                                                        <li>Structured Thinking</li>

                                                        <li>Astronomy</li>

                                                        <li><a style="color: #4c166d; font-weight: 600;"
                                                                href="download_brochure"
                                                                target="_blank">Download</a> our brochure for complete
                                                            details </li>

                                                    </ul>

                                                    <a href="know_more" class="btn btn-light">Know more</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=""></div>
                                <div style="background-color: #4c166d00 !important; border-color: #3e046200 !important; border-radius: 1rem;     text-align: -webkit-center;"
                                    class=" shadow box mx-auto alert alert-success  py-4 m-3">
                                    <h2 style="font-weight: 600; font-size: 1.6rem; color: #000000;">OR</h2>
                                </div>
                            </div>

                            <div class="" style="    text-align: -webkit-center;">
                                <h5 style="font-size: 1.3rem; font-weight: 700;" class="card-title">2. APPLIED
                                    TECHNOLOGY</h5>

                                <div class="" style="    text-align: -webkit-center">
                                    <span class="badge badge-light mb-4 "
                                        style="font-size: 1rem; color: #350156;">Duration : 60 hrs classes &mdash; 1 hr
                                        each</span>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="plan mt-2">
                                    <div class="plan-header">
                                        <div class="card ">



                                            <div class="card-body">
                                                <br>
                                                <ul style="text-align: -webkit-left;">


                                                    <li>Drone making (Development course)
                                                    </li>
                                                    <li> Learn automation & product prototyping
                                                    </li>
                                                    <li>Learn Robotics Project Advanced level (Raspberry Pi)</li>


                                                    <li>Python Programming
                                                    </li>
                                                    <li>Artificial Intelligence
                                                    </li>
                                                    <li>OpenCV</li>

                                                    <li><a style="color: #4c166d; font-weight: 600;"
                                                            href="download_brochure"
                                                            target="_blank">Download</a> our brochure for complete
                                                        details </li>

                                                </ul>

                                                <a href="know_more" class="btn btn-light">Know more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>









                        </div>
                    </div>


            </div>
        </section>






        </section>
    </div>
    </div>





      <section class="" style="background-color: #350156;" id="bestinnovation">
        <div id="particles-dots" class="particles"></div>
        <div class="container">
            
            <div class="heading-text text-light text-center">
                <h5 class="text-uppercase">Ore Equipe presents
                </h5>
                <h2 class="font-weight-800"><span> ORE BEST INNOVATION CHALLENGE</span></h2>
                <p> A National Level Science Talent Festival.</p>
                <a href="ore_best_innovation_challenge" class="btn btn-light btn-rounded btn-outline">Apply Before June 30</a>            </div>


        </div>
    </section>
    <!-- Pricing Table -->



    <!-- end: Revolution Slider-->
    <!-- Footer -->


    <footer id="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <div class="icon-box effect small clean">


                            

                                <a href="book_a_free_session" style="    border-color: #ff616100;color: #fff; background: #350156;"class="btn-xs col-lg-12 mx-auto btn btn-dark btn-outline btn-rounded">book a free session</a>

                                <a href="download_brochure"
                                    target="_blank" style="    border-color: #ff616100;
                                    color: #fff; background: #350156;"
                                    class="col-lg-12 mx-auto btn btn-xs btn-dark btn-outline btn-rounded">Download brochure</a>

                                <a href="assessment_test" target="_blank" style="    border-color: #ff616100;
                                    color: #fff; background: #350156;"
                                    class="col-lg-12 mx-auto btn btn-xs btn-dark btn-outline btn-rounded">Assessment test</a>

                            <!-- <h3 style="color: #3e0462;">COMPANY</h3>
                                <p><a href="">Home</a> <br>
                                <a href="">About us</a> <br>
                                <a href="">Contact us</a></p> -->


                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="icon-box effect small clean">

                            <h3 style="color: #3e0462;">REACH US</h3>

                            <p><a href="">+91 8592050403</a> <br>
                                <a href="mailto:info@oreequipe.com" >info@oreequipe.com</a> <br>
                                <a>Mon - Sat : 10 AM - 5:30 PM</a>
                            </p>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="icon-box effect small clean">

                            <h3 style="color: #3e0462;">LEGAL AND PRIVACY</h3>

                            <p><a href="termsandconditions">Terms and conditions</a><br>
                                <a href="privacypolicy">Privacy policy</a>
                            </p>

                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="icon-box effect small clean" style="    text-align-last: center;">

                            <h3 style="color: #3e0462;">FOLLOW US</h3>
                            <div
                                class="social-icons  social-icons-rounded float-lef social-icons-border social-icons-rounded social-icons-colored-hover">
                                <ul>
                                    <h3>
                                        <li class="social-facebook"><a
                                                href="https://www.facebook.com/search/top?q=Ore%20equipe"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li class="social-twitter"><a href="https://www.instagram.com/ore_equipe/"><i
                                                    class="fab fa-instagram"></i></a></li>
                                        <li class="social-facebook"><a
                                                href="https://www.linkedin.com/company/ore-equipe/"><i
                                                    class="fab fa-linkedin"></i></a></li>

                                        <li class="social-youtube"><a
                                                href="https://www.youtube.com/channel/UCGjRbcjBUDrAzwWa8tiQGdA"><i
                                                    class="fab fa-youtube"></i></a></li>
                                    </h3>
                                </ul>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>

        <div class="copyright-content">
            <div class="container">
                <div class="copyright-text text-center">&copy; 2021 Ore Equipe LLP. &nbsp;
                    All Rights Reserved.</div>
            </div>
        </div>
    </footer>
    <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>

    <script src="js/jquery.js"></script>
    <!--Template functions-->
    <!-- Partical js base file  -->
    <script src="plugins/particles/particles.js" type="text/javascript"></script>
    <!--Start of Tawk.to Script-->
    <script src="plugins/particles/particles-dots.js" type="text/javascript"></script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/60af3fdade99a4282a19d48e/1f6m92rsm';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

    <!--End of Tawk.to Script-->

    <div itemscope="" itemtype="http://schema.org/LocalBusiness">
        <span itemprop="legalName"style="display:none">Robohome</span>
        <span itemprop="name" style="display:none">robo home</span>
        <img itemprop="image" src="http://www.robohome.co.in/images/ore/logo2.png" style="display:none">
        <img itemprop="logo" src="http://www.robohome.co.in/images/ore/logo2.png" style="display:none">
        <div itemprop="address" itemscope="ore equipe robotic research centre," itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress" hidden>
         2nd floor aydish tower, <br>
        <span itemprop="addressLocality">perinthalmanna,</span> <br>
        <span itemprop="addressRegion">kerala,</span> <span itemprop="postalCode">679322,</span> <br>
        <span itemprop="url" style="display:none">http://www.robohome.co.in/</span>
        </span></div>
        <span itemprop="url" style="display:none">http://www.robohome.co.in/</span>
        <span itemprop="hasMap" style="display:none"> "https://goo.gl/maps/CJ8a6ppriYEWEhkC6"</span>
        <span itemprop="description" style="display:none">Professional trainers of "ROBO HOME" teach technology with one on one interactive method. Our practical oriented classes that we take for students from all age groups.</span>
        </span>
        </div>

        
</body>

</html>