<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="../public/images/ore/logo2.png">
    <title>Robohome | ore equipe robotic research center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <meta name="description" content="Professional trainers of ROBOHOME teach technology with one on one interactive method. Our practical oriented classes that we take for students from all age groups."/>
   
    <meta name="keywords"
        content="Robotics in kerala, best robotics companies in Kerala, automation and robotics in kerala, robotics company, robotics training institute in kerala, robotics technology, machine learning ,robotics courses,automation courses, robotics companies in kerala">
    <meta name="author" content="ore equipe">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
