<!DOCTYPE html>
<html lang="en">
<head>
  <title>Robohome | ore equipe robotic research institute</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8">
  <span itemprop="description" style="display:none">Professional trainers of "ROBO HOME" teach technology with one on one interactive method. Our practical oriented classes that we take for students from all age groups.
  </span>
  <link rel="icon" href="images/ore/logo/favicon-16x16.png" type="image/gif" sizes="16x16">
  <link rel="icon" href="images/ore/logo/favicon-32x32.png" type="image/gif" sizes="32x32">


<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="ore-equipe" />    
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Document title -->
<!-- Stylesheets & Fonts -->
<link href="css/plugins.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

  <div class="container">
    <div class="my-auto" >  

    <section>
        <div class="card">
            <div class="card-body"> <br>

                <span class="badge badge-dark mr-3" style="font-size: 1rem; background-color: #350156;"> ORE BEST INNOVATION CHALLENGE </span> 
                
                <br>
                     <small style="font-size: small; font-weight: bolder;">A National Level Science Talent Festival.</small></h3>
                <br>
                <div>
                    <br>
                     <b style="font-weight: 500;">Are you someone who is constantly seeking new ways to innovate?</b> <br>
It's hard time to put your technical skills to the test.
If you are willing to think, don’t miss this opportunity to explore.
Robohome presents you a nationwide talent competition, ORE BEST INNOVATION CHALLENGE . And lets inspire our young brains.
Ore Best Innovation Challenge is of 3 rounds. And it will be held in 3 categories which are LP , UP and HS.
<br><br>
<b>Round 1</b> 
<br>
1st round is the registration phase. Here you can register the project abstract along with the mentioned till 30th June for free.
<br>

The following criteria will be considered to short list the participants :

<br>
<DIV class="" style="margin-right: 2rem;">

    *Social relevance <br>
  *Innovation <br>
 *Components used

</DIV>
<br>
<b>Round 2</b> (Time duration: Minimum one month) <br>

Only selected students advance to the second round. TEAM ROBOHOME will fund some of the best shortlisted projects. There are three phases in the second round. You should finish the hardware part in the second round.
<br>
<br>
Phases : <br>
Phase1:[15-20days] <br>
25% of the project should be completed. <br>
Phase2:[7-10days] <br>
75% of the project should be completed. <br>
Phase3:[7-10days] <br>
100% of the project should be completed. <br>
    <br>
Each phases of 2nd round will be monitored by Robohome trainers
<br><br>
<b>Round 3</b> (MEGAROUND) <br>
The third round will be the final round, with two phases.
<br>
Phase1:[3-5days] <br>
All the shortlisted applicants should send the working video of the project through mail/whatsapp.
The video should include the complete working with vocal explanation by the applicant.
<br>
Phase2:[oneday]
<br>
One to one Online interaction between the Applicant and the Judges with maximum 10minutes time for each applicant.

</div>
<br>
<br>


                <form id="bestinnovation" class="form-validate mt-5">
                    <h3>Registration form</h3>
                    <br>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="username">Applicant Name</label>
                            <input type="text" class="form-control" id="appicant name" name="appicant name" placeholder="Enter applicant's name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="username">Class</label>
                            <input type="text" class="form-control" id="applicant class" name="applicant class" placeholder="Enter applicant's class" required>
                        </div>



                        <div class="form-group col-md-6">
                            <label for="name">School</label>
                            <input type="text" class="form-control" id="school" name="school" placeholder="Enter school name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                        </div>



                        <div class="form-group col-md-6">
                            <label for="name">Guide Name (Guide should be a teacher from the applicant’s school) </label>
                            <input type="text" class="form-control" id="guide name" name="guide name" placeholder="Enter guide name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname">Guide Phone Number</label>
                            <input type="text" class="form-control" id="guide phone" name="guide phone" placeholder="Enter guide phone number" required>
                        </div>

                        
                        <div class="form-group col-md-6">
                            <label for="surname">Parent name</label>
                            <input type="text" class="form-control" id="parent name" name="parent name" placeholder="Enter parent name" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="surname">Parent Phone Number</label>
                            <input type="text" class="form-control" id="parent phone" name="parent phone" placeholder="Enter parent phone number" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="name">Applicant Address</label>

                            <textarea class="form-control" id="applicant address" name="applicant address" rows="5" placeholder="" spellcheck="false">Applicant address..</textarea>

                        </div>


                    </div>
                   

                    <div class="h5 mb-4 mt-5" style="font-weight: bolder;">ABOUT THE PROJECT</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="address">Project Name </label>
                            <input type="text" id="Project name" class="form-control" name="Project name" placeholder="Enter project name" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="city">Estimated cost</label>
                            <input type="text" id="Estimated cost" class="form-control" name="Estimated cost"  placeholder="Enter estimated cost in rupees"  required>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="address2">Components</label>
                            <textarea class="form-control" id="Components" name="Components" rows="5" placeholder="" spellcheck="false">Components required on the project are..</textarea>

                        </div>

                        <div class="form-group col-md-6">
                            <label for="city">Detailed review about the project (Min 200 words)</label>

                            <textarea class="form-control" id="review" name="review" rows="5" placeholder="" spellcheck="false">Project review here..</textarea>
                        </div>

                      



                    </div>
                  
                    <div class="form-group">
                        <br>
                        <small>
                            By applying, you acknowledge that you accept our <a href="privacypolicy">Privacy policy</a> & <a href="termsandconditions">Terms and conditions</a>.
                        </small>

                    </div>
                    <button type="submit" class="btn btn-outline btn-dark  m-t-30 mt-3">Apply Now</button>
                </form>
            </div>
        </div>
<section>
        

</div>
</div>
<script>
    $("#bestinnovation").submit((e)=>{
        e.preventDefault()
        $.ajax({
          url:"https://script.google.com/macros/s/AKfycbwWRlRMyrhcfSboEZna6SZx7fxJmg0_bd3IYvIrjArw6eG3tPiHhlOLQT7Eh0CVDazi/exec",
            data:$("#bestinnovation").serialize(),
            method:"post",
            success:function (response){
                alert("Thank you. We'll get back to you very soon!")
                window.location.reload()
                window.location.href="http://robohome.co.in"
            },
            error:function (err){
                alert("Sorry, Some error happend, please try again or mail us at talk@oreequipe.com")
  
            }
        })
    })
  </script>


</body>
</html>