/* @extend display-flex; */
.steps ul, .title, .title .step-number, .actions ul li a{
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
.steps ul, .actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

.clear {
  clear: both; }

h2 {
  font-size: 30px;
  margin: 0px; }

body {
  font-size: 14px;
  color: #222;
  margin: 0px;
  background: #222; }

.my-wizard{

}

.main-wizard {
  padding: 50px 0;
  position: relative;
}

.container-wizard {
  width: 1110px;
  margin: 0 auto;
  background: #fff;
}

fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
  padding-left: 45px;
  padding-right: 55px;
  padding-top: 45px; }

p.desc {
  margin: 0px;
  margin-bottom: 40px;
  color: #555; }

#steps-uid-0-p-0 {
  width: 680px; }

.vertical {
  display: block;
  width: 100%;
  overflow: hidden;
}
  .vertical .steps {
    float: left;
    width: 310px;
  }
.steps {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
  .vertical .content,
  .vertical .actions {
    float: left;
    width: 800px;
  }

.content {
  min-height: 500px; }

.steps ul {
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
  padding-left: 40px;
  padding-top: 60px; }
  .steps ul li {
    padding-bottom: 40px;
    position: relative;
    z-index: 99; }
    .steps ul li a {
      text-decoration: none;
      color: #222; }
  .steps ul:after {
    position: absolute;
    content: '';
    width: 2px;
    height: calc(100% - 160px);
    background: #ebebeb;
    left: 64px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 9; }

.title {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }
  .title .step-number {
    width: 40px;
    height: 40px;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    background: #ebebeb;
    color: #999;
    margin-right: 15px;
    border: 5px solid #fff;
    font-weight: bold; }
  .title .step-text {
    font-weight: bold;
    color: #999; }

.current .title .step-number {
  background: #4966b1;
  color: #fff; }
.current .title .step-text {
  color: #4966b1; }

.content h3 {
  display: none; }

.content, .actions {
  background: #f8f8f8; }

.actions {
  padding-bottom: 90px; }
  .actions ul {
    padding-left: 45px;
    padding-right: 55px; }
    .actions ul .disabled {
      display: none; }
    .actions ul li {
      float: right; }
      .actions ul li:first-child {
        float: left; }
        .actions ul li:first-child a {
          background: #e8e8e8;
          color: #999; }
      .actions ul li a {
        width: 140px;
        height: 50px;
        color: #fff;
        background: #4966b1;
        align-items: center;
        -moz-align-items: center;
        -webkit-align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
        text-decoration: none; }

.submit {
  width: 150px;
  background: #666;
  color: #fff;
  font-weight: 400;
  cursor: pointer; }
  .submit:hover {
    background-color: #4d4d4d; }

@media screen and (max-width: 1024px) {
  .container-wizard {
    width: calc(100% - 40px);
    max-width: 100%; }

  .vertical .steps, .vertical .content, .vertical .actions {
    float: none;
    width: 100%; }
}
@media screen and (max-width: 992px) {
  .content {
    height: 900px;
  }
}
@media screen and (max-width: 768px) {

  fieldset, .actions ul {
    padding-left: 30px;
    padding-right: 30px; }

  #slider-margin {
    width: 94%; } }
@media screen and (max-width: 480px) {

  .content {
    height: 1050px; }

  .actions ul li a {
    width: 100px; }
}

/*# sourceMappingURL=style.css.map */
