<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BootstrapDash Wizard</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bd-wizard.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

</head>

<body>
    <main class="py-5" style="background: linear-gradient(
45deg
, rgb(79, 0, 246) 0%, rgb(176, 0, 247) 100%);">
        <div class="container">
            <form id="wizard">

                {{!-- Question 1 --}}
                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>1</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper">
                        <div class="">
                            <div class="col-lg-7 px-0 pt-4">
                                <img src="../images/ore/qsty/1.jpg" class="img-fluid">
                            </div>

                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        Which of the following
                                        country was previously
                                        known as Persia?

                                    </div>
                                    </h4>


                                    <div>

                                        <label for="11-option" class="l-radio">
                                            <div style="border-radius: 25px; " class="pr-5">
                                                <input type="radio" id="11-option" name="q1" value="" tabindex="1">
                                                <span style="font-size: 1.3rem;">Indonesia</span>
                                            </div>
                                        </label>

                                        <br>
                                        <label for="12-option" class="l-radio">
                                            <input type="radio" id="12-option" name="q1" value="" tabindex="2">
                                            <span style="font-size: 1.3rem;">Pakistan</span>
                                        </label>
                                        <br>

                                        <label for="13-option" class="l-radio">
                                            <input type="radio" id="13-option" name="q1" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">Australia</span>
                                        </label>
                                        <br>
                                        <label for="14-option" class="l-radio">
                                            <input type="radio" id="14-option" name="q1" value="10" tabindex="3">
                                            <span style="font-size: 1.3rem;">Iran</span>
                                        </label>
                                    </div>
                            </div>
                        </div>


                    </div>

                </section>

                {{!-- Question 2 --}}


                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>2</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper">
                        <div class="pt-5">
                            <div class="col-lg-7 px-0 pt-4">
                                <img src="../images/ore/qsty/2.jpg" class="img-fluid">
                            </div>

                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        Which is Pakistan's longest
                                        river?

                                    </div>
                                    </h4>


                                    <div>

                                        <label for="21-option" class="l-radio">
                                            <div style="border-radius: 25px; " class="pr-5">
                                                <input type="radio" id="21-option" name="q2" value="" tabindex="1">
                                                <span style="font-size: 1.3rem;">Jhelum</span>
                                            </div>
                                        </label>

                                        <br>
                                        <label for="22-option" class="l-radio">
                                            <input type="radio" id="22-option" name="q2" value="" tabindex="2">
                                            <span style="font-size: 1.3rem;">Nile</span>
                                        </label>
                                        <br>
                                        <label for="23-option" class="l-radio">
                                            <input type="radio" id="23-option" name="q2" value="10" tabindex="3">
                                            <span style="font-size: 1.3rem;">Indus</span>
                                        </label>
                                        <br>
                                        <label for="24-option" class="l-radio">
                                            <input type="radio" id="24-option" name="q2" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">Tigris</span>
                                        </label>
                                    </div>
                            </div>
                        </div>


                    </div>

                </section>

                {{!-- Question 3 --}}


                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>3</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper">
                        <div class="pt-2">
                            <div class="col-lg-7 px-0 pt-4">
                                <img src="../images/ore/qsty/3.jpg" class="img-fluid">
                            </div>

                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        Who was the first
                                        president of the United
                                        States of America?

                                    </div>
                                    </h4>


                                    <div>

                                        <label for="31-option" class="l-radio">
                                            <div style="border-radius: 25px; " class="pr-5">
                                                <input type="radio" id="31-option" name="q3" value="" tabindex="1">
                                                <span style="font-size: 1.3rem;">George Clooneyy</span>
                                            </div>
                                        </label>

                                        <br>
                                        <label for="32-option" class="l-radio">
                                            <input type="radio" id="32-option" name="q3" value="10" tabindex="2">
                                            <span style="font-size: 1.3rem;">George Washington</span>
                                        </label>
                                        <br>
                                        <label for="33-option" class="l-radio">
                                            <input type="radio" id="33-option" name="q3" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">George Bush</span>
                                        </label>
                                        <br>
                                        <label for="34-option" class="l-radio">
                                            <input type="radio" id="34-option" name="q3" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">George Lopez</span>
                                        </label>
                                    </div>
                            </div>
                        </div>


                    </div>

                </section>

                {{!-- Question 4 --}}



                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>4</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper">
                        <div class="" style="padding-top: 5rem; padding-bottom: 4rem;">
                           
                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        Mick got three gifts.
                                        His brother gave him a book.
                                        His friend didn't give him a phone.
                                        What did his sister give him?

                                    </div>
                                    </h4>


                                    <div class="col-lg-12">
                      <div class="row">

                        <div class="col-lg-6 pb-4 col-6">
                          <label for="551-option">
                            <input type="radio" id="551-option" name="q4" value="10" hidden>
                            <img src="../images/ore/qsty/4.1.png" style="border:groove; height: 100%; width: 150px;">
                          </label>
                        </div>


                        <div class="col-lg-6 pb-3 ">
                          <label for="552-option">
                            <input type="radio" id="552-option" name="q4" value="" hidden>
                            <img src="../images/ore/qsty/4.2.png" style="border:groove; height: 100%; width: 150px;">
                          </label>
                        </div>


                        <div class="col-lg-6">
                          <label for="553-option">
                            <input type="radio" id="553-option" name="q4" value="" hidden>
                            <img src="../images/ore/qsty/4.3.png" style="border:groove; height: 100%; width: 150px;">
                          </label>
                        </div>


                      </div>
                    </div>
                            </div>
                        </div>


                    </div>

                </section>

                {{!-- Question 5 --}}


                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>5</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper">
                        <div class="" style="padding-top: 5rem; padding-bottom: 8rem;">
                           

                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        There are 4 floors in the hotel. The higher
                                        the floor, the more people live there.
                                        Which floor does the elevator go to most
                                        often?

                                    </div>
                                    </h4>


                                    <div>

                                        <label for="51-option" class="l-radio">
                                            <div style="border-radius: 25px; " class="pr-5">
                                                <input type="radio" id="51-option" name="q7" value="" tabindex="1">
                                                <span style="font-size: 1.3rem;">Third Floor</span>
                                            </div>
                                        </label>

                                        <br>
                                        <label for="52-option" class="l-radio">
                                            <input type="radio" id="52-option" name="q7" value="10" tabindex="2">
                                            <span style="font-size: 1.3rem;"> Ground Floor</span>
                                        </label>
                                        <br>
                                        <label for="53-option" class="l-radio">
                                            <input type="radio" id="53-option" name="q7" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">First Floor</span>
                                        </label>
                                        <br>
                                        <label for="54-option" class="l-radio">
                                            <input type="radio" id="54-option" name="q7" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">Fourth Floor</span>
                                        </label>
                                    </div>
                            </div>
                        </div>


                    </div>

                </section>


                {{!-- Question 6 --}}

                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>6</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper pt-3">
                        <div class="" style="padding-top: 5rem; padding-bottom: 8rem;">
                           

                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        Olive's mom has five daughters:
                                        Brittany, Annie, Martha, Keira..
                                        What is the name of the fifth one?

                                    </div>
                                    </h4>


                                    <div>

                                        <label for="55-option" class="l-radio">
                                            <div style="border-radius: 25px; " class="pr-5">
                                                <input type="radio" id="55-option" name="q6" value="" tabindex="1">
                                                <span style="font-size: 1.3rem;">Penelope</span>
                                            </div>
                                        </label>

                                        <br>
                                        <label for="56-option" class="l-radio">
                                            <input type="radio" id="56-option" name="q6" value="" tabindex="2">
                                            <span style="font-size: 1.3rem;"> Clarissa</span>
                                        </label>
                                        <br>
                                        <label for="57-option" class="l-radio">
                                            <input type="radio" id="57-option" name="q6" value="10" tabindex="3">
                                            <span style="font-size: 1.3rem;">Olive</span>
                                        </label>
                                        <br>
                                        <label for="58-option" class="l-radio">
                                            <input type="radio" id="58-option" name="q6" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">Tatty</span>
                                        </label>
                                    </div>
                            </div>
                        </div>


                    </div>

                </section>


                {{!-- Question 7 --}}


                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>7</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper">
                        <div class="">
                            <div class="col-lg-7 px-0 pt-4">
                                <img src="../images/ore/qsty/7.png" class="img-fluid">
                            </div>

                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        If you drop a yellow hat in
                                        the red sea what does it
                                        became?

                                    </div>
                                    </h4>


                                    <div>

                                        <label for="71-option" class="l-radio">
                                            <div style="border-radius: 25px; " class="pr-5">
                                                <input type="radio" id="71-option" name="q7" value="" tabindex="1">
                                                <span style="font-size: 1.3rem;">Red</span>
                                            </div>
                                        </label>

                                        <br>
                                        <label for="72-option" class="l-radio">
                                            <input type="radio" id="72-option" name="q7" value="10" tabindex="2">
                                            <span style="font-size: 1.3rem;"> Wet</span>
                                        </label>
                                        <br>
                                        <label for="73-option" class="l-radio">
                                            <input type="radio" id="73-option" name="q7" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">Yellow</span>
                                        </label>
                                        <br>
                                        <label for="74-option" class="l-radio">
                                            <input type="radio" id="74-option" name="q7" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">Hard</span>
                                        </label>
                                    </div>
                            </div>
                        </div>


                    </div>

                </section>


                {{!-- Question 8 --}}


                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>8</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper">
                        <div class="">
                            <div class="col-lg-7 px-0 pt-4">
                                <img src="../images/ore/qsty/8.png" class="img-fluid">
                            </div>

                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        Highest tower/building in
                                        the world is?

                                    </div>
                                    </h4>


                                    <div>

                                        <label for="81-option" class="l-radio">
                                            <div style="border-radius: 25px; " class="pr-5">
                                                <input type="radio" id="81-option" name="q8" value="" tabindex="1">
                                                <span style="font-size: 1.3rem;">Leaning Tower of Pisa</span>
                                            </div>
                                        </label>

                                        <br>
                                        <label for="82-option" class="l-radio">
                                            <input type="radio" id="82-option" name="q8" value="" tabindex="2">
                                            <span style="font-size: 1.3rem;"> World Trade Center</span>
                                        </label>
                                        <br>
                                        <label for="83-option" class="l-radio">
                                            <input type="radio" id="83-option" name="q8" value="10" tabindex="3">
                                            <span style="font-size: 1.3rem;">Burj Khalifa</span>
                                        </label>
                                        <br>
                                        <label for="84-option" class="l-radio">
                                            <input type="radio" id="84-option" name="q8" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">Eiffel Tower</span>
                                        </label>
                                    </div>
                            </div>
                        </div>
                    </div>
                </section>

                {{!-- Question 9 --}}


                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>9</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper">
                        <div class="">
                            <div class="col-lg-7 pt-4">
                                <img src="../images/ore/qsty/9.png" class="img-fluid">
                            </div>

                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        How many triangles are there in the
picture?
                                    </div>
                                    </h4>


                                    <div>

                                        <label for="91-option" class="l-radio">
                                            <div style="border-radius: 25px; " class="pr-5">
                                                <input type="radio" id="91-option" name="q9" value="" tabindex="1">
                                                <span style="font-size: 1.3rem;">7</span>
                                            </div>
                                        </label>

                                        <br>
                                        <label for="92-option" class="l-radio">
                                            <input type="radio" id="92-option" name="q9" value="10" tabindex="2">
                                            <span style="font-size: 1.3rem;"> 6</span>
                                        </label>
                                        <br>
                                        <label for="93-option" class="l-radio">
                                            <input type="radio" id="93-option" name="q9" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">4</span>
                                        </label>
                                        <br>
                                        <label for="94-option" class="l-radio">
                                            <input type="radio" id="94-option" name="q9" value="" tabindex="3">
                                            <span style="font-size: 1.3rem;">5</span>
                                        </label>
                                    </div>
                            </div>
                        </div>
                    </div>
                </section>

                {{!-- Question 10 --}}


                <h3>
                    <div class="media">
                        <div class="bd-wizard-step-icon"><i><b>10</b></i></div>

                    </div>
                </h3>
                <section>
                    <div class="content-wrapper">
                        <div class="">
                            <div class="col-lg-7 px-0 pt-4">
                                <img src="../images/ore/qsty/10.jpg" class="img-fluid">
                            </div>

                            <div class="col-lg-7">
                                <h5 class="section-heading my-3">
                                    <div class="badge-pill badge-danger" style="border-radius: 0.2rem !important">

                                        If each number in the keypad is increased by 1,
                                        what would be their total sum?

                                    </div>
                                    </h4>


                                    <div>

                                        <label for="100-option" class="l-radio">
                                            <div style="border-radius: 25px; " class="pr-5">
                                                <input type="radio" id="100-option" name="q7" value="10 " tabindex="1">
                                                <span style="font-size: 1.3rem;">55</span>
                                            </div>
                                        </label>

                                        <br>
                                        <label for="101-option" class="l-radio">
                                            <input type="radio" id="101-option" name="q7" value="" tabindex="2">
                                            <span style="font-size: 1.3rem;"> 50</span>
                                        </label>
<br>
                                        <label for="102-option" class="l-radio">
                                            <input type="radio" id="102-option" name="q7" value="" tabindex="2">
                                            <span style="font-size: 1.3rem;"> 45</span>
                                        </label>
<br>
                                        <label for="103-option" class="l-radio">
                                            <input type="radio" id="103-option" name="q7" value="" tabindex="2">
                                            <span style="font-size: 1.3rem;"> 54</span>
                                        </label>
                                        
                                    </div>
                            </div>
                        </div>


                    </div>

                </section>

            </form>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.steps.min.js"></script>
    <script src="../assets/js/bd-wizard.js"></script>


</body>

</html>